$primary: #E68A17;
$primaryDark: #8F6C3F;
$primaryDarker: #6d3e03;
$primaryLight: #F9BB6D;
$primaryLighter: #F9D8B0;

$secondary: #166293;
$secondaryDark: #2B495C;
$secondaryDarker: #032B46;
$secondaryLight: #6BB4E4;
$secondaryLighter: #A5CBE4;
