.container-track {
    padding: 1rem 0 0;
}

.container-buttons {
    display: flex;
    justify-content: left;
    gap: 0.52rem;
}

.container-svg {
    width: 75px;
    height: 32px;
}

.container-road {
    padding: 0.2rem;
    background-color: black;
}

.car-name_title {
    color: #032B46;
    font-size: 0.7rem;
}

.container-car-name {
    // padding: 5px;
}
